<template class="main">
  <!-- ui-fpp data-scene="{scene}">
    <ui-panel>
      <div class="panel-body">
        To look around use your mouse. To move around use w, a, s, d.
      </div>
      <div class="panel-footer">
        <button data-role="close">Close</button>
      </div>
    </ui-panel>
  </ui-fpp -->
  <h1>D2VSpace</h1>
</template>

<script>
    (function(window, document, undefined) {
      require( "websemble" ).frontend.createComponent( 'view-index' );
    })(window, document);
</script>
