<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- meta http-equiv="Content-Security-Policy" content="default-src 'none'" -->
    <title>d2vspace</title>
    <%- styles.map(function(item){
      return `<link rel="stylesheet" href="${item}" />`;
    }).join("\n") %>
    <script src="/node_modules/systemjs/dist/system-production.js"></script>
    <script type="module" src="/node_modules/weldkit/index.js"></script>
    <%- components.map(function(item){
    return `<script type="module" src="${item}"></script>`;
    }).join("\n") %>
    <style>
      core-app {
        display:block;
      }
    </style>
  </head>
  <body>
    <div id="messages" style="max-height:100px; overflow-x:hidden; overflow-y:scroll;"></div>
    <web-app data-role="app" class="container-fluid"></web-app>
  </body>
</html>
